* {
  margin: 0;
  padding: 0;  
}
.el-form-item__label {
    width: 51px !important;
}
.el-form-item__content {
    margin-left: 0px !important;
    width: 100%;
}
.login-btn {
    width: 100%;
}
.validate-code {
    display: flex;
    justify-content: space-between;
}
.code-input {
    width: 55%;
    margin-right: 14px;
}
.code-btn {
    width: 40%;
    padding: 12px 8px;
}
.el-header {
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
}
.el-main {
    padding: 10px;
}
.el-dropdown-link {
    cursor: pointer;
}