* {
  margin: 0;
  padding: 0;  
}
.login-wrap-form .el-form-item__label {
    width: 51px !important;
}
.login-wrap-form .el-form-item__content{
    margin-left: 0px !important;
    width: 100%;
}
.login-btn {
    width: 100%;
}
.validate-code {
    display: flex;
    justify-content: space-between;
}
.code-input {
    width: 55%;
    margin-right: 14px;
}
.code-btn {
    width: 40%;
    padding: 12px 8px;
}
.el-header {
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
}
.el-main {
    padding: 10px;
}
.el-dropdown-link {
    cursor: pointer;
}
.lock-item {
    text-align: center;
    width: 100%;
}
.el-menu>a {
    text-decoration: none;
}
.el-menu {
    height: 100%;
}
.el-container {
    height: calc(100% - 60px);
}
.el-table {
    text-align: center;
}
.room-table {
    margin-bottom: 15px;
}
.room-table h2 {
    font:20px Extra large;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}